/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Nav */

.nav-container{
  position:fixed;
  z-index:1;
  top:0px;
  height:48px;
  width:100%;
  background-color:whitesmoke;
}

.nav-item-list{
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.nav-item{
  list-style: none;
  padding: 0 50px;
  color:cadetblue;
  font-weight:600;
  text-decoration:none;
}

.nav-item:hover{
  color:#2596be;
  border-bottom:3px solid #2596be;
}

#hamburger-menu{
  display:none
}
.nav-item-list-hamburger, #hamburger{
  display:none;
  color:gray;
}

@media screen and (max-width:950px){
  #hamburger-menu{
    width:100%;
    display:block;
    position:fixed;
    top:0;
    right:0;
    z-index:10;
  }

  #hamburger{
    display:block;
    position:absolute;
    right:15px;
    top:12px;
    font-size:20px;
  }
  .header-container{
    margin-top:0 !important;
  }

  .nav-container{
    display:none;
  }

  .nav-item-list-hamburger{
    margin:0;
    padding-left:0;
    background-color: rgb(00,02,20);
    text-align:center;
    padding-top: 40px;
    }

    .nav-item-list-hamburger .nav-item{
      margin:0 auto;
      height:30px;
      width:fit-content;
      color:white;
    }
}

@media (min-width:950px){
  .nav-item-list-hamburger{
    display:none;
  }
}

/* Header */

.header-container{
  margin-top:48px;
  background-image:url('../img/nasa-3.jpg');
  filter:saturate(0.50);
  filter:sepia(0.70);
  background-attachment:scroll;
  background-size: cover;
  background-position:1% 25%;
  background-size:cover;
  color:white;
}
.background-gradient{
  height:100%;
  width:100%;
  padding: 100px 0;
  display:flex;
  justify-content:center;
  border-right:solid 5px red;
  border-radius: 0 600px 0 0;
}

@media screen and (max-width:700px){
  .background-gradient{
    border-left:solid 5px red;
    border-bottom:solid 5px #2596be;
    border-right: 0;
    border-radius:600px 0px 0px 600px;

  }
}

.column{
  height:300px;
  width:100%;
  padding: 0 300px 0 5rem;
}



h1{
  text-align:right;
  font-size:3rem;
  margin:0;
}

@media screen and (max-width:1100px){
  h1{
    text-align:left;
  }
  .column{
    padding-right:0;
  }
}

/* Selection */
#usage{
  text-align:center;
  margin: 50px 0;
}
.api-cards{
  padding-top: 50px;
  display:flex;
  justify-content: center;
}

.api-card{
  position:relative;
  margin: 0 8px;
  width:10rem;
  height:60px;
  color:white;
  background-color:rgb(95, 135, 136);
  box-shadow: 10px 5px 5px #0e3847bd;
  text-align:center;
}

/* Information Display */
#apod{
  text-align:center;
}
img{
  display: block;
  margin: 0 auto;
  max-height:400px;
  max-width:70%;
}

@media screen and (max-width:600px) {
  img{
    margin:0 auto;
    width:100%;
    max-width:100%;
  }
}


#img-title{
  text-align:center;
  padding-bottom:50px;
}

#explanation{
  width:50%;
  margin:0 auto;
  text-align:justify;
  padding: 20px 0;
}

.img-container{
  width: 70%;
  margin:0 auto; 
  min-width:650px;
}

@media screen and (max-width:600px) {
  .img-container, .img-container-mr{
    margin:0 auto;
    width:95%;
    min-width:0;
  }
}

/* Footer */

.footer-container{
  background-color: rgb(73, 73, 73);
  height:50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

 /* Shooting Star*/
.star{
  background-color: white;
  width: 20px;
  height: 2px;
  position: absolute ;
  top: 50px;
  right: -200px;
  animation: shoot 5s linear infinite;
  opacity: 0.5;
  transform: rotate(-30deg);
}

@keyframes shoot{
  10%{
      transform: rotate(-30deg) translate(-1200px , 0);
  }
  100%{
      transform: rotate(-30deg) translate(-1200px , 0);
  }
}

/* Buttons */

html{
  font-family:'Roboto', sans-serif;
}
.button{
  display:inline-block;
  background-color:cadetblue;
  padding:3px 10px;
  margin:0 15px;
  border-radius:10px;
  font-weight:800;
  cursor:pointer;
  width:120px;
}

h2{
  padding-top:50px;
  font-size:3rem;
  margin-top: 0;
}

@media screen and (max-width:1200px){
  h2{
    font-size:2rem;
  }
}

a{
  text-decoration: none;
  color:inherit;
}

#usage{
  margin-bottom:150px;
}
#apod{
  background-color:rgb(241,245,249);
  text-align:center;
}

#mars-rover{
  background-color:white;
  text-align:center;
}

.api-info{
  width:50%;
  margin:40px auto;
  text-align: justify;
}

@media screen and (max-width:760px){
  .api-info, #explanation{
    width:90%;
  }
}

.number-card{
  background-color: rgb(64, 56, 49);
  box-shadow: 5px 5px 5px gray;
  position:absolute;
  width:20px;
  left:-5px;
  top:-5px;
  color:white;
  font-weight: 600;
}

.api-card h3{
  margin: 0;
  line-height:20px;
}

.instruction-container{
  height:100%;
  display:flex;
  align-items:center;
  justify-content: center;
}


@media screen and (max-width:500px){
  .change-day-text{
    display:none;
  }
  .button{
    width: 50px;
  }
}